    @import "base/tipografia";
    @import "base/colores";
    @import "sass/variables";
    @import "components/1header";
    @import "components/2inicio";
    @import "components/3quees";
    @import "components/4beneficios";
    @import "components/5sustentabilidad";
    @import "components/6contacto";
    @import "components/7formulario";

    /*GENERALES*/

    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
      }
      

    body{
        background-color: $bg-color-principal;
    }

    .container-whapp{
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 5rem;
            height: 5rem;
            bottom: 30px;
            right: 10px;
            background-color: #25d366;
            color: white;
            border-radius: 5rem;
            z-index: 5;

            a{
                text-decoration: none;
                font-size: 3rem;
                color: white;
            }
    }
    .button-home{
            font-weight: 600;
            font-size: 2.2rem;
            padding: 0 1em;
            line-height: 2em;
            text-align: center;
            display: flex;
            background-color: $bg-color-secundario;
            width: 12rem;
            color: $textboton-color;
            margin-top: 4rem;
            margin-bottom: 4rem;
            border-radius:1rem;
            margin-top: 1.4rem;
            box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            border-width: 0px;
            border-color: $text-color; 
                &:hover{
                    color: $textboton-color;
                    background-color: $hoverboton;
                        }
                }

    .margenSecciones {
      margin-top: $margintop;
      margin-bottom: $marginbottom;
    }

    .tamañoIconos {
        width: $iconos-width;
        height: $iconos-height;
    }

    .margp {
        padding-left: $margin-left;
        padding-right: $margin-right;
    }

    .fueralinea{
        margin-top: $margen-negativo;
    }
    .anclas{
        padding-top: 50px;
    }
    .anclas2{
        padding-top:10px;
    }
    .anchoWave{
        width: $width-wave;
    }


// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
    html {
    font-size: 65%;
  }
  .anclas{
        padding-top: 100px;
    }
    .anclas2{
        padding-top:15px;
    }
    
}

 // Large devices (desktops, less than 1200px)
 @media (min-width: 992px) and (max-width: 1199.98px) {
    html {
    font-size: 68%;
  }
  .anclas{
        padding-top: 100px;
    }
    .anclas2{
        padding-top:20px;
    }
 }

   // X-Large devices (large desktops, less than 1400px)
   @media (min-width: 1199.99px) {
    html {
    font-size: 70%;
  }
  .anclas{
        padding-top: 100px;
    }
    .anclas2{
        padding-top:20px;
    }
 }
    



