  @import '../base/colores';
  /* INICIO */

  .margenInicio {
    margin-top: $iniciomargen; 
  }

  .imagenEscala {
    width: 80%;
    max-width: 300px;
    height: auto;
  
  }

  .logoReci {
    height: 11rem;
    width: 11rem;
    margin-bottom: 1.4rem;
  }

  h2{
    a{
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1;
    text-align: $tcentrado;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: 0px; 
    margin-bottom: 1.6rem;
    text-decoration: none;
    list-style: none;
    color: $bg-color-secundario; 
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $hoverboton;
      }
    }
}
// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px){

        .imagenEscala {
          width: 55%;
          max-width: 320px;
          height: auto;  
}
    }
// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
        .logoReci {
          height: 12rem;
          width: 12rem;
          margin-bottom: 4rem;         
        }
        .imagenEscala {
          width: 55%;
          max-width: 320px;
          height: auto;             
}
        h1{
          font-size: 4rem;
        }
    }
 // Large devices (desktops, less than 1200px)
 @media (min-width: 992px) and (max-width: 1199.98px) {
        .logoReci {
          height: 12rem;
          width: 12rem;         
        }
       .imagenEscala {
          width: 55%;
          max-width: 340px;
          height: auto;     
        }
        h1{
          font-size: 4.5rem;
        }
    }

   // X-Large devices (large desktops, less than 1400px)
   @media (min-width: 1199.99px){
        .logoReci {
          height: 12rem;
          width: 12rem;
        }
       .imagenEscala {
          width: 55%;
          max-width: 360px;
          height: auto;           
        }
        h1{
          font-size: 4.3rem;
        }
    }