  @import '../base/colores';
  /* INICIO */

  .margenInicio {
    margin-top: $iniciomargen; 
  }
.imagenEscala {
  max-width: 90%;
  max-height: auto; 
  
}

.logoReci {
  height: 11rem;
  width: auto;
  margin-bottom: 1.4rem;
}

h2{
  a{
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1;
    text-align: $tcentrado;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin-top: 0px; 
    margin-bottom: 1.6rem;
    text-decoration: none;
    list-style: none;
    color: $bg-color-secundario; 
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $hoverboton;
      }
    }
}
// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px){

        .imagenEscala {
          max-width: 75%;
          max-height: auto; 
  
}
    }


// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
        .logoReci {
          height: 12rem;
          width: auto;
        }
        .imagenEscala {
          max-width: 65%;
          max-height: auto;   
}
        h1{
          font-size: 4rem;
        }
    }
 // Large devices (desktops, less than 1200px)
 @media (min-width: 992px) and (max-width: 1199.98px) {
        .logoReci {
          height: 12rem;
          width: auto;
        }
       .imagenEscala {
          max-width: 65%;
          max-height: auto;   
        }
        h1{
          font-size: 4.5rem;
        }

    }

   // X-Large devices (large desktops, less than 1400px)
   @media (min-width: 1199.99px){
        .logoReci {
          height: 12rem;
          width: auto;
        }
       .imagenEscala {
          max-width: 40%;
          max-height: auto;   
        }
        h1{
          font-size: 3.5rem;
        }
    }