	/*¿QUE ES?*/
	@import '../base/colores';
  @import '../sass/variables';
	.fondoGris {
		background-color: $bg-color-gris;
		}
	p{
		a{
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-decoration: none;
    list-style: none;
    color: $bg-color-secundario; 
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $hoverboton;
      }
    }
	}
	.margentex{
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-align: justify;
  		text-justify: inter-word;
    		}
	.rotate {
	  	transform: $rotated;
		}

	.espaciado{
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
	.espaciado2{
		margin-top: 5rem;
		margin-bottom: 1rem;
	}

	// Small devices (landscape phones, less than 768px)
@media (min-width: 576px) and (max-width: 767.98px){
       
    }


// Medium devices (tablets, less than 992px)
@media (min-width: 768px) and (max-width: 991.98px){
        
    }
 // Large devices (desktops, less than 1200px)
 @media (min-width: 992px) and (max-width: 1199.98px) {
     
    }

   // X-Large devices (large desktops, less than 1400px)
   @media (min-width: 1199.99px){
        
    }