	/*¿QUE ES?*/
	@import '../base/colores';
  @import '../sass/variables';
	.fondoGris {
		background-color: $bg-color-gris;
		}
	p{
		a{
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-decoration: none;
    list-style: none;
    color: $bg-color-secundario; 
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $hoverboton;
      }
	}
}
	#colorEducacion{
      	color: #17b4e2;
      	&:hover {
      list-style: none;
      text-decoration: none;
      color: #0f7c9c;
	}
}
	.margentex{
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		text-align: justify;
  		text-justify: inter-word;
    		}
	.rotate {
	  	transform: $rotated;
		}

	.espaciado{
		margin-top: 2rem;
		margin-bottom: 3rem;
	}
	.espaciado2{
		margin-top: 5rem;
		margin-bottom: 1rem;
	}