/*BENEFICIOS*/

.cardsStyle {
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 7px 7px 0 rgba(40,46,87,.08);
  width: 300px;
  box-sizing: border-box;
  height: auto;
  text-align: center;
  margin: auto;
  background-color: rgb(236, 236, 236);
  margin-bottom: 4rem
  }

.imageCard {
  width: 64px;
  height: 64px;
  margin: auto;
  margin-bottom: auto;
  margin-bottom: 8px;
  background-position: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  .svgColor{
  	color: rgba(82, 183, 72, 1);
  }
}

.rotate {
  transform: $rotated;
}

.margenTituloBeneficio {
  margin-bottom: $marginbottom;
}