	/*SUSTENTABILIDAD*/

	.sustBg {
	  background-color: $bg-sustentabiliad;
	  margin-bottom: 0px;
	}

	.margenSubtitulo {
	  margin-bottom: $marginbottom;
	}
	.sustP{
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: 2rem;
		margin-left: 2rem;
		margin-top: 2rem;
		margin-bottom: 3rem;
		text-align: justify;
  		text-justify: inter-word;
	}

	