	/*SUSTENTABILIDAD*/

	.sustBg {
	  background-color: $bg-sustentabiliad;
	  margin-bottom: 0px;
	}

	.margenSubtitulo {
	  margin-bottom: $marginbottom;
	}
	.sustP{
		margin-top:2rem;
		margin-bottom: 5rem;
		margin-left: 2rem;
		margin-right: 2rem;
	}

	