/* CONTACTO */

.contactoTitulo{
  margin-top: 0px;
  padding-top: 0px;
}
.footerStyle {
  display: flex;
  justify-content: space-evenly;
  p{
        font-size: $fontsizetexto; 
        margin-bottom: 1.2rem;
    }
    
  a{
        text-decoration: none;
        color: $text-color;
        margin-bottom: 2rem;
    }

    h2{
      margin-top: 6rem;
      margin-bottom: 2rem;
    }
  .copyright{
        font-size: 1.2rem;
        margin-top: 0.8rem;
        margin-bottom:3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.rrss{
    i{ font-size: 3.5rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
}
}
.centradoA{
  display: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
    &:hover {
      list-style: none;
      text-decoration: none;
      color: $hoverboton;
      }
}

.centradoPadre {
  text-align: center;
  display: block;
}

#bold{
    font-weight: 400;
  }