	/*COLORES*/

	$bg-color-principal: #ffffff;
	$bg-color-secundario: #52B748;
	$bg-color-gris: #ebedee;
	$hoverboton: rgba(36, 137, 26, 1);

	$bg-sustentabiliad: #d1e27f;
	$text-color: #46515C;
	$textboton-color: white;
	$color-titulo: #52B748;

