	/*VARIABLES*/

	$tcentrado: center;
	$enable-responsive-font-sizes: true;
	$iniciomargen:13rem;
	$marginbottom: 4rem;
	$margintop: 3rem;
	$margin-left:4rem;
	$margin-right:4rem;
	$fontsizetexto: 1.6rem;
	$iconos-width: 9rem;
	$iconos-height: 9rem;
	$margin-left:4rem;
	$margin-right:4rem;
	$textoboton: white;
	$rotated: rotate(180deg);
	$margen-negativo: -15px;
	$width-wave: 100%;


